body {
  font-family: "Dosis", sans-serif;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 2rem;
}

center-block {
  margin: auto;
  display: block;
}

.padded {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.padded h2,
.padded article {
  width: 85%;
  max-width: 600px;
  margin: auto;
}

.center {
  text-align: center;
}

.fancy {
  font-family: "Adora Bouton", "Petit Formal Script", cursive;
  font-weight: 400;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.leaf-and-gold {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/cruise/names-accent-top-right.png),
    url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/milky-way/topleft.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, left top;
  background-size: auto 150px, auto 170%;
}

.double-leaf {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/cruise/names-accent-bottom-left.png),
    url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/cruise/names-accent-top-right.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, center right;
  background-size: auto 120px, auto 150px;
}

.leaf-right {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/cruise/names-accent-top-right.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 150px;
}

.leaf-left-small {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/cruise/names-accent-bottom-left.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 120px;
}

.leaf-left-big {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/cruise/stories-accent-bottom-left.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: left center;
}

.leaf-right-small {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/cruise/stories-accent-top-right.png);
  background-repeat: no-repeat;
  background-size: 120px auto;
  background-position: right center;
}

.frond-left {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/escape/hp_top_left.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 120px;
}

.frond-right {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/escape/nonhp_bottomright.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 120px;
}

.flower-top {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/morningside-blush/page-content-accent-top.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.flower-left {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/morningside-blush/page-content-accent-left.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left center;
}

.pineapple {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/71-x8OJqhdL._SX425_.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 110% center;
}
@media screen and (max-width: 500px) {
  .pineapple {
    background-size: 150px auto;
  }
}

.pineapple-gold {
  background-image: url(https://www.nicepng.com/png/full/9-94797_pineapplewatercolor-pinkyellow-pineapple-stencil.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: right center;
}

.palm-tree {
  background-image: url(https://render.fineartamerica.com/images/rendered/default/print/5.875/8.000/break/images-medium-5/watercolor-coconut-palm-patricia-pinto.jpg);
  background-repeat: no-repeat;
  background-size: auto 110%;
  background-position: right top;
}

.coconut {
  background-image: url(https://thumbs.dreamstime.com/t/watercolor-organic-composition-coconut-palm-trees-isolated-white-background-hand-painted-illustration-design-kitchen-93025640.jpg);
  background-size: auto;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.dots-left-top {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/milky-way/topleft.png);
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: left top;
}

.dots-right-top {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/milky-way/topright.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 60%;
}

.dots-right-bottom {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/milky-way/bottomright.png);
  background-repeat: no-repeat;
  background-size: auto 120%;
  background-position: right bottom;
}

.dots-left-bottom {
  background-image: url(https://d2gt2lt628wbyx.cloudfront.net/cloud/assets/milky-way/bottomleft.png);
  background-repeat: no-repeat;
  background-size: 25% auto;
  background-position: left bottom;
}

.green {
  background-color: #f1ffed;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: black;
}
nav a:hover {
  text-decoration: underline;
}

.purple {
  background-color: #ecdde7;
}

.elephant {
  width: 100%;
  min-height: 250px;
  height: auto;
  max-height: 250px;
  background-image: url(https://lh3.googleusercontent.com/fYNnZUO3ESJ8Y5pNsrEUprOphtL-ewbMAcIXrPk4U6y9co2Y0lmjy_wAd2gQjKkGY9kH6KgI_fQecdHEKz89sR-fMeZKP3HI73cykefOcY3873Xwi67V0-oqn6EK3dvWOJjRwvk2I0x_D7gH2OQlk6hOZc7GFkiJma8KhpSiag6wRYQ5oX6mTz4IhjEuR5CRH1P9lN4emOqVEivUhcBbQumkJhM9WvN0LiOYs435bKVV37U5nxmxaHKBGHWxqQG00iKPQTWY8DrkDFxhn9Es45LeMV3OPQOI51GTx2eJryhZsG8gQ2wi0U6OJt3yuJc9oBFsRSCRexhnPpuARQVqpmF_KNOZPBoCx-cn38zYP6HogpkhXZSRLOrCnS_8FkHR7Tf5v7VYTMdGvCunUvjQMIcP2iCCD8my_-AI0Hxix0zo4jWEVAqjuiIiEx-J8QXnd7TMLiYj7rLGc9fMKoM_LTdaZ6Ac_hk1rSgj0X1EmPFZ7zFQNUvgk4LVQ7yYDDU303WH4dRQ_GvLlo0qXQFRTVPj2LJovLSzapMHOOnwbRfhzT-K6EmcPHXGddvbqwih-aHgLK66H6HP1NrqriuLXiPoOQ0xjFKOeaisziAXfY-srSyRt_79Jkd_RJfoanvLGX3bZ99hlWv1IeIPG6cNrlYUrKvlhTti=w1032-h1374-no);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.collage {
  min-height: 200px;
  width: 100%;
  background-image: url(https://lh3.googleusercontent.com/ToNFNFnYH-seQbWWVs4Td1Sz4ewpSZ_ADknWGA4t8-sSNotewMbdTbZM4ZKq4mwmlRf6nsEl9mYv-TEZtcLSZkROKLcV0_qCgB8NEOJ5q1myUzZL2Q7DzTx_o0y79Oc1ce07zmcy_mpDmAdiZYl0bIX6-1C3eSHNwQHDBH11ndAC4On0vWMYLlIenOAtSFBo8uu4JPWR5x-M2t410hleszznWg7TcmSBWnjkBM7jAsATFlXt2SOgoOutj51eoQgCGG_ekcy4Oy6xj8xxII3O9d2W4LvZeQBGYvTgz31_ySktQSGziP80s-B6hWPSQwh_WXEiQ-NNeJndNh2GMbcT588CiRN4iiXwALajfBwrrcDoQRF_yGUgt8dx6kRjEqi_XEmFODgM-jBMH2kCCKGxK0b2golYereJelyJHJQf3cXXaD2JXTeXu8-1wmhiMBujaUFjLUSOj4YX13RgjEbTQS5nNmLyPFoZ5z7JHzLyPIeT6p4SB4bRiHbLafl-RKXktYeQuWznjouj_vaylBMx-izboT56hh8424HVBF0J4Sw_EssObsOCJPi3tPnKTfWiWK1cz9L-ZyCTFJ1PfSNnLMQRdSwGvBceE57tcpear-wdT6l0lmtdxPCkX4UkZXIZcVemeJFzjfR4fXS_9WQDq6g1ndJvcHOh=w1032-h1374-no),
    url(https://lh3.googleusercontent.com/fYNnZUO3ESJ8Y5pNsrEUprOphtL-ewbMAcIXrPk4U6y9co2Y0lmjy_wAd2gQjKkGY9kH6KgI_fQecdHEKz89sR-fMeZKP3HI73cykefOcY3873Xwi67V0-oqn6EK3dvWOJjRwvk2I0x_D7gH2OQlk6hOZc7GFkiJma8KhpSiag6wRYQ5oX6mTz4IhjEuR5CRH1P9lN4emOqVEivUhcBbQumkJhM9WvN0LiOYs435bKVV37U5nxmxaHKBGHWxqQG00iKPQTWY8DrkDFxhn9Es45LeMV3OPQOI51GTx2eJryhZsG8gQ2wi0U6OJt3yuJc9oBFsRSCRexhnPpuARQVqpmF_KNOZPBoCx-cn38zYP6HogpkhXZSRLOrCnS_8FkHR7Tf5v7VYTMdGvCunUvjQMIcP2iCCD8my_-AI0Hxix0zo4jWEVAqjuiIiEx-J8QXnd7TMLiYj7rLGc9fMKoM_LTdaZ6Ac_hk1rSgj0X1EmPFZ7zFQNUvgk4LVQ7yYDDU303WH4dRQ_GvLlo0qXQFRTVPj2LJovLSzapMHOOnwbRfhzT-K6EmcPHXGddvbqwih-aHgLK66H6HP1NrqriuLXiPoOQ0xjFKOeaisziAXfY-srSyRt_79Jkd_RJfoanvLGX3bZ99hlWv1IeIPG6cNrlYUrKvlhTti=w1032-h1374-no);
  background-repeat: no-repeat, no-repeat;
  background-size: 50% auto, 50% auto;
  background-position: left center, right center;
}

#scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.6rem;
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: green;
}
#scroll-to-top:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}
